:root {
  --bgOrange: #e84949;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family:"Be Vietnam Pro",sans-serif;
}
#wrapper{
  height:100vh;
  overflow-y: auto;
  overflow-x: none;
  
}
.container{
  width: 1200px;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  
}
.logo-container{
  display: flex;
  justify-content:baseline;
  align-items: center;
  
}
.logo-text{
  margin-left: -1.2rem;
  font-size: 28px;
}
.nav-items{
  list-style: none;
  display: flex;
  gap:2rem;
  padding:0 4rem;
  
}
ul li{
  font-size:20px;
  font-weight:500;
}
ul li a{
  color:black;
  text-decoration: none;
  cursor: pointer;
}
.logo{
  width:80px;
}
.nav-items li:hover{
  transition: 1s;
  font-weight:bold;
}
.hero-section{
  display:flex;
  position:relative;
  justify-content: center;
  align-items: center;
  gap:5rem;
  margin:4rem auto;
  padding:0 1rem;
  padding-bottom:8rem;
  
}
.faded-text{
  font-size:7rem;
  user-select: none;
  color:rgb(231,231,231);
  bottom:-16%;
  top:-5%;
  font-weight: bold;
  transition: all 3s;
  
}
.hero-section-left{
  display:flex;
  flex-direction: column;
  gap:2rem;
  justify-content: center;
 
  
}
.hero-section-heading{
  font-size:35px;
  font-weight: 500;
  color:#343d68;
}
.role{
  font-weight: 800;
  color:#4e45d5;
  
}
.hero-section-subheading{
  line-height: 45px;
  font-size: 45px;
  
}
.btn{
  transition: all 0.5s;
  background-color: var(--bgOrange);
  width:fit-content;
  color:white;
  padding:0.8rem 2.3rem;
  font-size:18px;
  cursor:pointer;
  font-weight:500;
    border: solid 3px var(--bgOrange);
  position: relative;
  z-index:1;
}
.btn::before{
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s
}

.btn:hover::before{
  transform: scaleX(1);
}
.btn:hover{
  border: solid 3px var(--bgOrange);
  color: black;
}