
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family:"Be Vietnam Pro",sans-serif;
}
#wrapper{
  height:100vh;
  overflow-y: auto;
  overflow-x: none;
  
}
.container{
  width: 1200px;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  
}
.logo-container{
  display: flex;
  justify-content:baseline;
  align-items: center;
  
}
.logo-text{
  margin-left: -1.2rem;
  font-size: 28px;
}
.nav-items{
  list-style: none;
  display: flex;
  gap:2rem;
  padding:0 4rem;
  
}
ul li{
  font-size:20px;
  font-weight:500;
}
ul li a{
  color:black;
  text-decoration: none;
  cursor: pointer;
}
.logo{
  width:80px;
}
.nav-items li:hover{
  transition: 1s;
  font-weight:bold;
}